<div class="row">
   <div class="col-md-offset-2 col-md-8">
      <div class="panel panel-default">
         <div class="panel-heading"><%= @photo.user.username %></div>
         <div class="panel-body">
            <img src="<%= @photo.image %>" class="img-responsive">
         </div>
      </div>

      <div class="btn-group btn-group-justified">
         <a href="/photos" class="btn btn-primary">
            Back
         </a>
         <% if current_user.id == @photo.user.id %>
         <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
            Edit
         </a>
         <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
            Delete
         </a>
         <% end %>
      </div>
   </div>
</div>
